.terminal h1 {
    font-size: 2.33em;
}

.terminal h2 {
    font-size: 1.83em;
}

.terminal h3 {
    font-size: 1.50em;
}

.terminal h4 {
    font-size: 1.33em;
}

.terminal h5 {
    font-size: 1.16em;
}

.terminal h6 {
    font-size: 1em;
}