h1 {
    font-size: 2.2em !important;
}

h2 {
    font-size: 1.8em !important;
}

h3 {
    font-size: 1.6em !important;
}

h4 {
    font-size: 1.4em !important;
}

h5 {
    font-size: 1.2em !important;
}

h6 {
    font-size: 1em !important;
}